@model GolfBets.Models.GameModel
@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
<div class="container">
    <h2>Games</h2>
    <p>Select the following game you would like to calculate results for the current scorecard</p>
    

    <div class="dropdown" id="selectGame">
        @Html.DropDownListFor(m => m.gameSelection, new List<SelectListItem> {
                       new SelectListItem { Value = "skins" , Text = "Skins" },
                       new SelectListItem { Value = "roundRobin" , Text = "Round Robin" },
                       new SelectListItem { Value = "nassau" , Text = "Nasau" }
                    }, "Select Game", new { @class = "btn btn-primary dropdown-toggle" })
    </div>

    <br/>
    <div class="dropdown" id="selectPlayers">@Html.DropDownListFor(m => m.numberOfPlayers, new List<SelectListItem> {
                       new SelectListItem { Value = "1" , Text = "1 Player" },
                       new SelectListItem { Value = "2" , Text = "2 Players" },
                       new SelectListItem { Value = "3" , Text = "3 Players" },
                       new SelectListItem { Value = "4" , Text = "4 Players" }
                    }, "Number of Players", new { @class = "btn btn-primary dropdown-toggle" })
    </div>
    <br />
    <div class="dropdown" id="selectHoles">
        @Html.DropDownListFor(m => m.numberOfHoles, new List<SelectListItem> {
                       new SelectListItem { Value = "9" , Text = "9" },
                       new SelectListItem { Value = "18" , Text = "18" }
                    }, "Number of Holes", new { @class = "btn btn-primary dropdown-toggle" })
    </div>
    <br />
    <div class="form-group" id="playerWager">
        <label class="control-label col-sm-2" for="pwd">Wager per player:</label>
        <div class="col-sm-10">
            $ @Html.TextBoxFor(m => m.wagerAmount)
        </div>

    </div>
    <br/>
<h2>Scorecard</h2>
<div class="container" id="front9">
    <p>FRONT 9</p>
    <table class="table table-bordered" id="scoreCard">
        <thead>
            <tr>
                <th class="left-Column">Hole</th>
                @for (int i = 1; i < 10; i++)
                {
                <th class="text-center" id="parRowCell">@i</th> 
                }

            </tr>
            <tr>
                <th class="left-Column">Par</th>
                @for (int i = 0; i < 9; i++)
                {
                <th class="col-md-1" id="parRowCell">@Html.TextBoxFor(m => m.parValues[i],new { @class = "scoreInput"})</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="left-Column">Player 1</td>
                @for (int i = 0; i < 9; i++)
                {
                    <th class="col-md-1" id="parRowCell">@Html.TextBoxFor(m => m.players[0].holeScores[i], new { @class = "scoreInput" })</th>
                }
            </tr>
            <tr>
                <td class="left-Column">Player 2</td>
                @for (int i = 0; i < 9; i++)
                {
                    <th class="col-md-1" id="parRowCell">@Html.TextBoxFor(m => m.players[1].holeScores[i], new { @class = "scoreInput" })</th>
                }
            </tr>
            @*<tr>
        <td  class="left-Column">Player 3</td>
        @for (int i = 0; i < 9; i++)
        {
            <th class="col-md-1">@Html.TextBoxFor(m => m.players[2].holeScores[i],new { @class = "scoreInput"})</th>
        }
    </tr>
    <tr>
        <td class="left-Column">Player 4</td>
        @for (int i = 0; i < 9; i++)
        {
            <th class="col-md-1">@Html.TextBoxFor(m => m.players[3].holeScores[i],new { @class = "scoreInput"})</th>
        }
    </tr>*@
        </tbody>
    </table>
</div>

@*<div class="container" id="front9">
    <p>BACK 9</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="left-Column">Hole</th>
                @for (int i = 10; i < 19; i++)
                {
                    <th class="text-center">@i</th>
                }
            </tr>
            <tr>
                <th class="left-Column">Par</th>
                @for (int i = 9; i < 18; i++)
                {
                    <th class="col-md-1" id="parRowCell">@Html.TextBoxFor(m => m.parValues[i], new { @class = "scoreInput" })</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="left-Column">Player 1</td>
                @for (int i = 9; i < 18; i++)
                {
                    <th class="col-md-1" id="parRowCell">@Html.TextBoxFor(m => m.players[0].holeScores[i], new { @class = "scoreInput" })</th>
                }
            </tr>
            <tr>
                <td class="left-Column">Player 2</td>
                @for (int i = 9; i < 18; i++)
                {
                    <th class="col-md-1" id="parRowCell">@Html.TextBoxFor(m => m.players[1].holeScores[i], new { @class = "scoreInput" })</th>
                }
            </tr>
            <tr>
        <td>Player 3</td>
        @for (int i = 9; i < 18; i++)
        {
            <th class="col-md-1" id="parRowCell">@Html.TextBoxFor(m => m.players[2].holeScores[i],new { @class = "scoreInput"})</th>
        }
    </tr>
    <tr>
        <td>Player 4</td>
        @for (int i = 9; i < 18; i++)
        {
            <th class="col-md-1" id="parRowCell">@Html.TextBoxFor(m => m.players[3].holeScores[i],new { @class = "scoreInput"})</th>
        }
    </tr>
        </tbody>
    </table>
</div>*@

<button asp-controller="Home" asp-action="Index" type="submit" class="btn btn-primary">Generate Scores</button>

</div>
}
