@model GolfBets.Models.ResultsModel
@{
    ViewData["Title"] = "Home Page";
}

@functions{
    public string GetCellColor(string player, string winner)
    {
        string color = "ffffb3";
        if (winner != "wash" && player == winner) color = "99ffbb";
        if (winner != "wash" && player != winner) color = "ff6666";
        return color;
    }

    public List<SelectListItem> playersForDropdown()
    {
        List<SelectListItem> list = new List<SelectListItem>();
        list.Add(new SelectListItem { Value = "wash", Text = "Wash - 3 Putt" });
        foreach (var player in Model.game.players)
        {
            list.Add(new SelectListItem { Value = player.playerName.Replace(" ",""), Text = player.playerName });

        }
        return list;
    }
}

@*@using (Html.BeginForm("Scorecard", "Home", FormMethod.Get))
{*@
<h2>Scorecard Results</h2>
<div class="table-responsive" id="front9results">
    <h4>FRONT 9</h4>
    <table class="table table-bordered" id="scoreCard">
        <thead>
            <tr bgcolor="#74a9d8">
                <th class="col-md-2">Hole</th>
                @for (int i = 1; i < 10; i++)
                {
                    <th id="holeNumberCell">@i</th>
                }

                <th id="holeNumberCell">OUT</th>
                @if (Model.game.skinsSelected == true)
                {
                <th id="holeNumberCell">SKINS</th>
                }
            </tr>
            <tr bgcolor="b3b3b3">
                <th>Par</th>
                @for (int i = 0; i < 9; i++)
                {
                    <th class="text-center">@Model.game.parValues[i]</th>
                }
                <th class="text-center">@Model.frontNineTotalPar</th>
                <th class="text-center">-</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var player in Model.game.players)
            { 
            <tr>
                <th>@player.playerName</th>
                @for (int i = 0; i < 9; i++)
                {
                    <th class="text-center" bgcolor="@GetCellColor(player.playerName, Model.holeWinner[i])">
                        <div class="resultScoreLabel">@player.strokePerHole[i]<sub class="puttSubLabel">@player.puttsPerHole[i]</sub></div>
                    </th>
                }
                <th>
                    <div class="resultScoreLabel">@player.frontNineTotalStrokes<sub class="puttSubLabel">@player.frontNineTotalPutts</sub></div>
                </th>
                @if (Model.game.skinsSelected == true)
                {
                <th class="text-center">@player.front9StrokePlaySkins</th>
                }
            </tr>
            }
        </tbody>
    </table>
</div>

<br />

@if (Model.game.numberOfHoles == 18)
{
    <div class="table-responsive" id="back9results">
        <h4>BACK 9</h4>
        <table class="table table-bordered" id="scoreCard">
            <thead>
                <tr bgcolor="#74a9d8">
                    <th class="col-md-2">Hole</th>
                    @for (int i = 10; i < 19; i++)
                    {
                        <th id="holeNumberCell">@i</th>
                    }
                    <th>IN</th>
                    @if (Model.game.skinsSelected == true)
                    {
                    <th>SKINS</th>
                    }
                    <th>TOT</th>
                    @if (Model.game.skinsSelected == true)
                    {
                    <th>SKINS</th>
                    }
                </tr>
                <tr bgcolor="b3b3b3">
                    <th>Par</th>
                    @for (int i = 9; i < 18; i++)
                    {
                        <th id="holeNumberCell">@Model.game.parValues[i]</th>
                    }
                    <th class="text-center">@Model.backNineTotalPar</th>
                    @if (Model.game.skinsSelected == true)
                    {
                    <th class="text-center">-</th>
                    }
                    <th class="text-center">@Model.parTotal</th>
                    @if (Model.game.skinsSelected == true)
                    {
                    <th class="text-center">-</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach(var player in Model.game.players)
                {
                <tr>
                    <th>@player.playerName</th>
                    @for (int i = 9; i < 18; i++)
                    {
                        <th class="text-center" bgcolor="@GetCellColor(player.playerName, Model.holeWinner[i])">
                            <div class="resultScoreLabel">@player.strokePerHole[i]<sub class="puttSubLabel">@player.puttsPerHole[i]</sub></div>
                        </th>
                    }
                    <th>
                        <div class="resultScoreLabel">@player.backNineTotalStrokes<sub class="puttSubLabel">@player.backNineTotalPutts</sub></div>
                    </th>
                    @if (Model.game.skinsSelected == true)
                    {
                    <th class="text-center">@player.back9StrokePlaySkins</th>
                    }
                    <th class="text-center">@player.totalStrokes<sub class="puttSubLabel">@player.totalPutts</sub></th>
                    @if (Model.game.skinsSelected == true)
                    {
                    <th class="text-center">@player.totalSkins</th>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
}
@*@if (Model.game.skinsSelected == true)
{
<div class="form-horizontal container">
    <div class="row">
        <div class="form-group">
            @for (int i = 0; i < Model.game.numberOfHoles; i++)
            {
                if (Model.game.parValues[i] == 3)
                {
                    <div class="col-md-2" id="parThreeDropdown">
                        <h4 id="parThreePinLabel">Hole @(i + 1) Pin</h4>
                        @Html.DropDownListFor(m => m.parThreePinWinners, playersForDropdown(), "Pin Winner", new { @class = "btn btn-primary dropdown-toggle selectPinWinner" })
                    </div>
                }
            }
        </div>
    </div>
</div>
}
<br />*@
<h3>Results</h3>
@foreach(var player in Model.game.players)
{
    <h4>@player.playerName</h4>
    <h5>Total Winnings: $@player.totalMoneyWon</h5>
    <div class="container">
        <table class="table table-bordered" id="resultsTable">
            <thead>
                <tr bgcolor="#74a9d8">
                    <th class="winningsColumnHead text-center">Player</th>
                    <th class="winningsColumnHead text-center">Amt. Owed</th>
                </tr>
                @foreach (var item in player.betTracker)
                {
                    <tr>
                        <th class="text-center">@item.Key</th>
                        <th class="text-center">$@item.Value</th>
                    </tr>
                }
            </thead>

        </table>
    </div>
}
<br />

<h3>Results Breakdown</h3>
@if (Model.game.skinsSelected == true)
{
<div class="container" id="skinsResults">
    <h4>Skins Results</h4>
    <div class ="wagerLabel">
        <div class ="wagerLabel"> Value Per Skin: $ </div>
        <div class ="wagerLabel" id="wagerAmountLabel">@Model.game.skinWager</div>
    </div>
    <table class="table table-bordered" id="resultsTable">
        <thead>
            <tr bgcolor="#74a9d8">
                <th class="col-md-3 text-center">Player</th>
                <th class="col-md-3 text-center">Skins Won</th>
                <th class="col-md-3 text-center">Skins Owed</th>
                <th class="col-md-3 text-center">Amount Owed</th>
            </tr>
            @foreach (var player in Model.game.players)
            {
            <tr>
                <th class="text-center">@player.playerName</th>
                <th class="text-center">@player.totalSkins</th>
                <th class="text-center">@player.skinsOwed</th>
                <th class="text-center">$@player.skinsMoneyOwed</th>
            </tr>
            }
        </thead>
    </table>
</div>
}

@if (Model.game.nassauSelected == true)
{
<div class="container" id="nassauResults">
    <h4>Nassau Results</h4>
    <div>
        <div class="wagerLabel"> Nassau Wager: $ </div>
        <div class="wagerLabel">@Model.game.nassauWager</div>
    </div>
    @if (Model.game.nassauPuttSelected == true)
    {
        <div>
            <div class="wagerLabel"> Putt Wager: $ </div>
            <div class="wagerLabel">@Model.game.nassauWager</div>
        </div>
    }

    <h4>Front 9</h4>
    <table class="table table-bordered" id="resultsTable">
        <thead>
            <tr bgcolor="#74a9d8">
                <th class="winningsColumnHead text-center">Strokes</th>
                @if (Model.game.nassauPuttSelected == true)
                {
                <th class="winningsColumnHead text-center">Putts</th>
                }
            </tr>
            <tr>
                <th class="text-center">@Model.frontNineStrokesWinner.Key</th>
                @if (Model.game.nassauPuttSelected == true)
                {
                <th class="text-center">@Model.frontNinePuttsWinner.Key</th>
                }
            </tr>
        </thead>
    </table>
    @if (Model.game.numberOfHoles == 18)
    {
    <h4>Back 9</h4>
    <table class="table table-bordered" id="resultsTable">
        <thead>
            <tr bgcolor="#74a9d8">
                <th class="winningsColumnHead text-center">Strokes</th>
                @if (Model.game.nassauPuttSelected == true)
                {
                    <th class="winningsColumnHead text-center">Putts</th>
                }
            </tr>
            <tr>
                <th class="text-center">@Model.backNineStrokesWinner.Key</th>
                @if (Model.game.nassauPuttSelected == true)
                {
                    <th class="text-center">@Model.backNinePuttsWinner.Key</th>
                }
            </tr>
        </thead>
    </table>
    <h4>Overall</h4>
        <table class="table table-bordered" id="resultsTable">
            <thead>
                <tr bgcolor="#74a9d8">
                    <th class="winningsColumnHead text-center">Strokes</th>
                    @if (Model.game.nassauPuttSelected == true)
                    {
                        <th class="winningsColumnHead text-center">Putts</th>
                    }
                </tr>
                <tr>
                    <th class="text-center">@Model.overallStrokesWinner.Key</th>
                    @if (Model.game.nassauPuttSelected == true)
                    {
                        <th class="text-center">@Model.overallPuttsWinner.Key</th>
                    }
                </tr>
            </thead>
        </table>
    }
</div>
}

@*}*@

